remote_theme: mmistakes/minimal-mistakes

minimal_mistakes_skin: "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"
title: "test title"
name: "test site name"
description: "test description"

include:
  - _pages

collections:
  docs:
    output: true
    permalink: /:collection/:path/

defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true